.flexslider {
  border: none;
  @include box-shadow(initial);
  background: transparent;
  margin: 0;

  .flex-control-nav {
    bottom: 12px;
    z-index: 9;
  }

  .flex-direction-nav a {
    height: 45px;
    @include text-shadow(none);
    @include opacity(1);
    color: #fff;
    @include font-size(1);
  }
}
