@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img, video { max-width: 100%; height: auto; }

.flexslider { border: none; -moz-box-shadow: initial; -webkit-box-shadow: initial; box-shadow: initial; background: transparent; margin: 0; }
.flexslider .flex-control-nav { bottom: 12px; z-index: 9; }
.flexslider .flex-direction-nav a { height: 45px; text-shadow: none; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; color: #fff; font-size: 10px; font-size: 1rem; }

img, media { max-width: 100%; height: auto; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0 0 .5em; }

h1 { font-size: 32px; font-size: 3.2rem; }

h2 { font-size: 26px; font-size: 2.6rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 22px; font-size: 2.2rem; }

h5 { font-size: 20px; font-size: 2rem; }

h6 { font-size: 18px; font-size: 1.8rem; }

p, ol, ul, blockquote, pre, code { line-height: 1.5; margin: 0 0 1em; }

a { text-decoration: none; color: #4B77C3; }

.sf-menu li ul { overflow: visible !important; }

#block-superfish-1 .block__title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 li, #block-superfish-1 a { -moz-transition: background-color, 0.3s; -o-transition: background-color, 0.3s; -webkit-transition: background-color, 0.3s; transition: background-color, 0.3s; }

#block-superfish-1 { font-weight: 400; }
#block-superfish-1 .sf-style-none { float: left; margin: 0; padding: 0; }
#block-superfish-1 .sf-style-none.sf-navbar { width: 100%; background: transparent; }
#block-superfish-1 .sf-style-none ul { padding-left: 0; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper { background: #555; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper li { background: transparent; }
#block-superfish-1 .sf-style-none a { color: #fff; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none a.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none a:focus { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none a:hover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none a:active { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none span.nolink { color: #fff; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none span.nolink.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none span.nolink:hover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none span.sf-description { color: #fff; display: block; font-size: 0.833em; line-height: 1.5; margin: 5px 0 0 5px; padding: 0; }
#block-superfish-1 .sf-style-none.rtl span.sf-description { margin: 5px 5px 0 0; }
#block-superfish-1 .sf-style-none.rtl span.nolink.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none.rtl a.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none li { background: transparent; }
#block-superfish-1 .sf-style-none li li { background: #292929; }
#block-superfish-1 .sf-style-none li li li { background: #444; }
#block-superfish-1 .sf-style-none li:hover, #block-superfish-1 .sf-style-none li.sfHover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none li:hover > ul, #block-superfish-1 .sf-style-none li.sfHover > ul { top: 45px; }
#block-superfish-1 .sf-style-none li:hover > ul ul, #block-superfish-1 .sf-style-none li.sfHover > ul ul { top: 0; }
#block-superfish-1 .sf-style-none .sf-sub-indicator { top: .9em; right: 1em; }
#block-superfish-1 .sf-style-none .sf-sub-indicator:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; position: relative; top: 1px; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a { background: transparent; color: #fff; padding: 1em; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a.sf-expanded { background-color: #555; font-weight: bold; }
#block-superfish-1 div.sf-accordion-toggle span { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li a { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li a { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li a { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li a { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { float: right; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded { background-color: #555; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > a { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li a { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li a { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li a { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li a { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li span.nolink { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li span.nolink { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li span.nolink { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li span.nolink { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button { font-weight: bold; position: absolute; right: 0; top: 0; z-index: 499; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { display: inline; float: left; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent { font-weight: bold; }

#block-superfish-1 { font-family: "Roboto Condensed", sans-serif; position: initial; }
#block-superfish-1 .sf-style-none { float: none; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
#block-superfish-1 .sf-depth-1 > a { text-transform: uppercase; font-weight: bold; }
#block-superfish-1 #superfish-1-toggle { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; text-align: center; position: absolute; top: 35px; right: 0; }
#block-superfish-1 .sf-expanded > .sf-accordion-button:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; display: block; }
#block-superfish-1 .sf-accordion-button { line-height: 999px; overflow: hidden; height: 36px; width: 36px; text-align: center; padding: 0 !important; }
#block-superfish-1 .sf-accordion-button:before { line-height: normal; display: block; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }
#block-superfish-1 .sf-with-ul { padding-left: 40px; }

.front .panel-pane { margin-bottom: 2em; }
.front .l-container { *zoom: 1; }
.front .l-container:after { content: ""; display: table; clear: both; }
.front .pane-products-products-eq-featured .view-content { *zoom: 1; }
.front .pane-products-products-eq-featured .view-content:after { content: ""; display: table; clear: both; }
.front .pane-products-products-eq-featured .views-row { width: 31.91489%; clear: right; float: left; margin-left: 0; margin-right: 2.12766%; }
.front .pane-products-products-eq-featured .views-row:nth-child(3n) { width: 31.91489%; clear: right; float: right; margin-right: 0; }
.front .pane-articles-articles-recent-media { width: 48.93617%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
.front .pane-articles-articles-recent-news { width: 48.93617%; float: right; margin-left: 0; margin-right: 0; clear: none; }

.l-navbar { background: rgba(0, 0, 0, 0.6); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding-top: 1em; padding-bottom: 1em; position: relative; color: #fff; }

.l-region--navigation { *zoom: 1; }
.l-region--navigation:after { content: ""; display: table; clear: both; }

.l-branding { padding-left: 1em; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

.site-logo { display: block; }

html { font-size: 62.5%; }

body { font-size: 1.8em; font-family: "Source Sans Pro", sans-serif; color: #444; }

.l-container { max-width: 1200px; margin: 0 auto; padding: 0 1em; }

.l-header { background-color: #2E363A; background-image: url("../images/patterns/vaio_hard_edge.png"); background-repeat: repeat; }

.l-main { padding: 2em 0; }

.page-partnerships .view-display-id-partners_listing .view-content { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.page-partnerships .view-display-id-partners_listing .views-row { -webkit-box-flex: 1; -webkit-flex: 1 1 300px; -moz-box-flex: 1; -moz-flex: 1 1 300px; -ms-flex: 1 1 300px; flex: 1 1 300px; margin: 30px; }

.dark-grid-overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url("../images/patterns/dark-grid.png"); background-repeat: repeat; }

.node--featured-content--featured-slideshow { height: 200px; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center center; position: relative; }
.node--featured-content--featured-slideshow .dark-grid-overlay { background-color: rgba(149, 134, 106, 0.45); -moz-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; }
.node--featured-content--featured-slideshow a { display: block; }
.node--featured-content--featured-slideshow .field--name-field-caption { display: none; }
.node--featured-content--featured-slideshow h2 { color: #fff; font-size: 40px; font-size: 4rem; line-height: normal; }

.node--partner--teaser .field--name-field-image { max-height: 45px; text-align: center; }
.node--partner--teaser .field--name-field-image img { max-height: 100%; }
