@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img, video { max-width: 100%; height: auto; }

.flexslider { border: none; -moz-box-shadow: initial; -webkit-box-shadow: initial; box-shadow: initial; background: transparent; margin: 0; }
.flexslider .flex-control-nav { bottom: 12px; z-index: 9; }
.flexslider .flex-direction-nav a { height: 45px; text-shadow: none; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; color: #fff; font-size: 10px; font-size: 1rem; }

img, media { max-width: 100%; height: auto; }

.pane-title { border-bottom: 2px solid #eee; padding-bottom: .2em; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0 0 .5em; }

h1 { font-size: 32px; font-size: 3.2rem; }

h2 { font-size: 26px; font-size: 2.6rem; }

h3 { font-size: 24px; font-size: 2.4rem; }

h4 { font-size: 22px; font-size: 2.2rem; }

h5 { font-size: 20px; font-size: 2rem; }

h6 { font-size: 18px; font-size: 1.8rem; }

p, ol, ul, blockquote, pre, code { line-height: 1.5; margin: 0 0 1em; }

a { text-decoration: none; color: #4B77C3; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
a:hover, a:focus, a:active { color: #666666; }

.views-summary { margin: 0; padding: 0; }
.views-summary li { list-style: none; position: relative; margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px dotted #eee; }
.views-summary a { padding-right: 45px; }
.views-summary .summary-count { position: absolute; right: 0; top: 50%; margin-top: -15px; text-align: center; line-height: normal; font-size: 10px; font-size: 1rem; font-weight: 800; padding: 5px 8px; min-width: 20px; background: rgba(0, 0, 0, 0.1); color: #444; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.views-summary .has-filter .label { display: none; }
.views-summary .has-filter .active:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; margin-right: .4em; }

.view .more-link a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 10px; background: #4B77C3; color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.breadcrumb { margin: 0; padding: 0; }
.breadcrumb li { list-style: none; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

.breadcrumb-seperator { margin: 0 5px; }

.sf-menu li ul { overflow: visible !important; }

#block-superfish-1 .block__title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 li, #block-superfish-1 a { -moz-transition: background-color, 0.3s; -o-transition: background-color, 0.3s; -webkit-transition: background-color, 0.3s; transition: background-color, 0.3s; }

#block-superfish-1 { font-weight: 400; }
#block-superfish-1 .sf-style-none { float: left; margin: 0; padding: 0; }
#block-superfish-1 .sf-style-none.sf-navbar { width: 100%; background: transparent; }
#block-superfish-1 .sf-style-none ul { padding-left: 0; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper { background: #555; }
#block-superfish-1 .sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper li { background: transparent; }
#block-superfish-1 .sf-style-none a { color: #fff; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none a.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none a:focus { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none a:hover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none a:active { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none span.nolink { color: #fff; padding: 0.75em 1em; }
#block-superfish-1 .sf-style-none span.nolink.sf-with-ul { padding-right: 2.25em; }
#block-superfish-1 .sf-style-none span.nolink:hover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none span.sf-description { color: #fff; display: block; font-size: 0.833em; line-height: 1.5; margin: 5px 0 0 5px; padding: 0; }
#block-superfish-1 .sf-style-none.rtl span.sf-description { margin: 5px 5px 0 0; }
#block-superfish-1 .sf-style-none.rtl span.nolink.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none.rtl a.sf-with-ul { padding-left: 2.25em; padding-right: 1em; }
#block-superfish-1 .sf-style-none li { background: transparent; }
#block-superfish-1 .sf-style-none li li { background: #212129; }
#block-superfish-1 .sf-style-none li li li { background: #444; }
#block-superfish-1 .sf-style-none li:hover, #block-superfish-1 .sf-style-none li.sfHover { background: #555; outline: 0; }
#block-superfish-1 .sf-style-none li:hover > ul, #block-superfish-1 .sf-style-none li.sfHover > ul { top: 40px; }
#block-superfish-1 .sf-style-none li:hover > ul ul, #block-superfish-1 .sf-style-none li.sfHover > ul ul { top: 0; }
#block-superfish-1 .sf-style-none .sf-sub-indicator { top: .9em; right: 1em; }
#block-superfish-1 .sf-style-none .sf-sub-indicator:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; position: relative; top: 1px; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a { background: transparent; color: #fff; padding: 1em; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; }
#block-superfish-1 div.sf-accordion-toggle.sf-style-none a.sf-expanded { background-color: #555; font-weight: bold; }
#block-superfish-1 div.sf-accordion-toggle span { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li a { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li a { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li a { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li a { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink { padding-left: auto; padding-right: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink { padding-left: auto; padding-right: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink { padding-left: auto; padding-right: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink { padding-left: auto; padding-right: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { float: right; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded { background-color: #555; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > a { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li a { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li a { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li a { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li a { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li li span.nolink { padding-left: 5em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li li span.nolink { padding-left: 4em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li li span.nolink { padding-left: 3em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li li span.nolink { padding-left: 2em; }
#block-superfish-1 .sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button { font-weight: bold; position: absolute; right: 0; top: 0; z-index: 499; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li { margin: 0; padding: 0; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column { display: inline; float: left; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent { font-weight: bold; }
#block-superfish-1 .sf-menu.sf-style-none ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent { font-weight: bold; }

#block-superfish-1 { font-family: "Roboto Condensed", sans-serif; position: initial; }
#block-superfish-1 .sf-style-none { float: none; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
#block-superfish-1 .sf-depth-1 > a { text-transform: uppercase; font-weight: bold; }
#block-superfish-1 #superfish-1-toggle { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; text-align: center; position: absolute; top: 35px; right: 0; }
#block-superfish-1 .sf-expanded > .sf-accordion-button:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; display: block; }
#block-superfish-1 .sf-accordion-button { line-height: 999px; overflow: hidden; height: 36px; width: 36px; text-align: center; padding: 0 !important; }
#block-superfish-1 .sf-accordion-button:before { line-height: normal; display: block; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; width: 100%; height: 100%; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
#block-superfish-1 .sf-with-ul { padding-left: 40px; }

.front .panel-pane { margin-bottom: 2em; }
.front .l-container { *zoom: 1; }
.front .l-container:after { content: ""; display: table; clear: both; }
.front .pane-markets-markets-featured .pane-title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.front .pane-markets-markets-featured .view-content { margin: -10px; }
.front .pane-markets-markets-featured .views-row { margin: 10px; background: #f5f5f5; }
.front .pane-markets-markets-featured h2 { margin-bottom: 0; }
.front .pane-markets-markets-featured h2 a { background: #4B77C3; padding: 10px; color: #fff; display: block; }
.front .pane-markets-markets-featured .taxonomy-term__content { padding: 1em; }
.front .pane-awards-awards-homepage { text-align: center; clear: both; }
.front .pane-awards-awards-homepage .views-row { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; max-width: 200px; margin: 0 1em 1em; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.front .pane-awards-awards-homepage img { max-height: 100px; width: auto; }

.front .pane-products-products-eq-featured { text-align: center; }
.front .pane-products-products-eq-featured .pane-title { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.front .pane-products-products-eq-featured .read-more { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 10px; background: rgba(255, 255, 255, 0.2); font-size: 14px; font-size: 1.4rem; font-weight: bold; }
.front .pane-products-products-eq-featured .views-row { color: #fff; padding: 1em; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.front .pane-products-products-eq-featured .views-row a { color: #fff; }
.front .pane-products-products-eq-featured .field--name-body { text-align: left; }
.front .pane-products-products-eq-featured .views-row-1 { background: #409DBF; }
.front .pane-products-products-eq-featured .views-row-2 { background: #C75C57; }
.front .pane-products-products-eq-featured .views-row-3 { background: #C1A844; }

.l-navbar { background-color: #272727; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding-top: 1em; padding-bottom: 1em; position: relative; color: #fff; -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); z-index: 9; }

.l-branding { padding-left: 1em; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

.site-logo { display: block; }

.site-slogan { font-size: 16.3px; font-size: 1.63rem; }

html { font-size: 62.5%; }

body { font-size: 1.6em; font-family: "Source Sans Pro", sans-serif; color: #444; background-color: #222; }

.l-container { max-width: 1200px; margin: 0 auto; padding: 0 1em; }

.l-header .l-main-header { background-color: #BE902C; padding: 1.3em 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; }
.l-header .l-main-header a { color: #fff; }
.l-header .page-title { margin-bottom: 0; }
.l-header .breadcrumb { font-weight: bold; font-size: 14px; font-size: 1.4rem; }

.l-main { padding: 2em 0; background-color: #fff; }

.l-footer { background-color: #222; padding: 2em 0; color: #fff; }
.l-footer input { background-color: #333; border: none; }

.page-partnerships .view-display-id-partners_listing .view-content { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: -10px; }
.page-partnerships .view-display-id-partners_listing .views-row { -webkit-flex: 1 1 300px; flex: 1 1 300px; margin: 10px; border: 1px dotted #ccc; padding: 1em; }

.flexbox .view-display-id-product_types_listing .view-content { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px; }
.view-display-id-product_types_listing .view-content .views-row { -webkit-flex: 1 1 300px; flex: 1 1 300px; margin: 0 10px 20px; background: #f1f1f1; padding: 2em; }
.view-display-id-product_types_listing .view-content .field--name-field-term-teaser { margin-bottom: 20px; }
.view-display-id-product_types_listing .view-content i { font-size: 20px; font-size: 2rem; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-right: 5px; background: #e1e1e1; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.flexbox .view-display-id-products_product_type_tid .view-content { display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px; }
.view-display-id-products_product_type_tid .view-content .views-row { -webkit-flex: 1 1 300px; flex: 1 1 300px; margin: 0 10px 20px; background: #f1f1f1; padding: 2em; }

.dark-grid-overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url("../images/patterns/dark-grid.png"); background-repeat: repeat; }

.l-region--header .node--featured-content--featured-slideshow { height: 200px; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center center; position: relative; }
.l-region--header .node--featured-content--featured-slideshow .dark-grid-overlay { background-color: rgba(17, 58, 108, 0.3); -moz-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.l-region--header .node--featured-content--featured-slideshow .caption-wrapper { position: relative; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExM2E2YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #113a6c), color-stop(100%, rgba(0, 0, 0, 0))); background-image: -moz-linear-gradient(left, #113a6c, rgba(0, 0, 0, 0)); background-image: -webkit-linear-gradient(left, #113a6c, rgba(0, 0, 0, 0)); background-image: linear-gradient(to right, #113a6c, rgba(0, 0, 0, 0)); width: 100%; padding-top: 1em; padding-bottom: 1em; }
.l-region--header .node--featured-content--featured-slideshow a { display: block; }
.l-region--header .node--featured-content--featured-slideshow .field--name-field-caption { display: none; }
.l-region--header .node--featured-content--featured-slideshow h2 { color: #fff; font-size: 40px; font-size: 4rem; line-height: normal; margin-bottom: 0; }

.node--article .post-date { margin-bottom: 1em; font-size: 14px; font-size: 1.4rem; text-transform: uppercase; font-weight: bold; }
.node--article .post-date i { margin-right: .2em; font-size: 25px; font-size: 2.5rem; color: #bbb; position: relative; top: 3px; }

.node--article--teaser { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 3px solid #eee; }
.node--article--teaser .node-readmore a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 10px; background: #4B77C3; color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.node--blog--teaser { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 3px solid #eee; }
.node--blog--teaser .node-readmore a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 10px; background: #4B77C3; color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.node--featured-content--featured-slideshow { height: 200px; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center center; position: relative; }
.node--featured-content--featured-slideshow .dark-grid-overlay { background-color: rgba(17, 58, 108, 0.3); -moz-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; box-shadow: 0px -25px 40px -8px rgba(0, 0, 0, 0.5) inset; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.node--featured-content--featured-slideshow .caption-wrapper { position: relative; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExM2E2YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #113a6c), color-stop(100%, rgba(0, 0, 0, 0))); background-image: -moz-linear-gradient(left, #113a6c, rgba(0, 0, 0, 0)); background-image: -webkit-linear-gradient(left, #113a6c, rgba(0, 0, 0, 0)); background-image: linear-gradient(to right, #113a6c, rgba(0, 0, 0, 0)); width: 100%; padding-top: 1em; padding-bottom: 1em; }
.node--featured-content--featured-slideshow a { display: block; }
.node--featured-content--featured-slideshow .field--name-field-caption { display: none; }
.node--featured-content--featured-slideshow h2 { color: #fff; font-size: 40px; font-size: 4rem; line-height: normal; margin-bottom: 0; }

.node--partner--teaser .field--name-field-image { text-align: center; }
.node--partner--teaser .field--name-field-image img { max-height: 45px; width: auto; }

.node--person--person-listing { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 3px solid #eee; *zoom: 1; }
.node--person--person-listing .node-readmore a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 10px; background: #4B77C3; color: #fff; font-size: 14px; font-size: 1.4rem; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.node--person--person-listing:after { content: ""; display: table; clear: both; }
.node--person--person-listing .field--type-image { margin: 0 auto 1em; text-align: center; line-height: 0; }
.node--person--person-listing h2 { margin-bottom: 0; overflow: hidden; }
.node--person--person-listing .field--name-field-person-title { font-style: italic; font-size: 18px; font-size: 1.8rem; margin-bottom: 1em; overflow: hidden; }
.node--person--person-listing .field--name-body { overflow: hidden; }

.node--simple-list h3 { font-weight: normal; font-size: 16px; font-size: 1.6rem; font-family: "Source Sans Pro", sans-serif; }
.node--simple-list h3 a { display: block; border-bottom: 1px dotted #eee; padding-bottom: 5px; margin-bottom: 5px; }

.taxonomy-term--product-family--product-family-listing { padding-bottom: 3em; margin-bottom: 3em; border-bottom: 4px solid #f5f5f5; overflow: hidden; *zoom: 1; }
.taxonomy-term--product-family--product-family-listing ul { margin: 0; padding: 0; }
.taxonomy-term--product-family--product-family-listing ul li { list-style: none; }
.taxonomy-term--product-family--product-family-listing .term-header { text-align: center; }
.taxonomy-term--product-family--product-family-listing .product_family_product_glyphs li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.taxonomy-term--product-family--product-family-listing .product_family_product_glyphs i { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; font-size: 14px; font-size: 1.4rem; padding: 0.7em; background: #333; color: #fff; min-width: 35px; text-align: center; }
.taxonomy-term--product-family--product-family-listing .product_family_product_listing li { margin: 0.5em; padding: 0.5em; border-bottom: 1px dotted #ddd; }
.taxonomy-term--product-family--product-family-listing .product_family_product_listing li:last-child { border: none; margin-bottom: 0; }
.taxonomy-term--product-family--product-family-listing .product_family_product_listing i { margin-right: 1em; }

.view-display-id-markets_featured h2 { text-align: center; font-size: 20px; font-size: 2rem; }
.view-display-id-markets_featured .taxonomy-term__content { text-align: center; }
.view-display-id-markets_featured .custom-stat-value { font-size: 90px; font-size: 9rem; font-weight: 900; letter-spacing: -1px; margin-bottom: -20px; }
.view-display-id-markets_featured .custom-stat-suffix { font-size: 45px; font-size: 4.5rem; vertical-align: top; position: relative; top: 16px; }
.view-display-id-markets_featured .custom-stat-label { font-size: 25px; font-size: 2.5rem; font-weight: 700; }
.view-display-id-markets_featured .custom-stat-source { font-style: italic; margin-top: 10px; }
.view-display-id-markets_featured .custom-stat-source:before { content: "\2014"; margin-right: 5px; }
