.view-display-id-product_types_listing {
  .view-content {
    .flexbox & {
      @include flexbox;
      @include flex-wrap(wrap);
      margin: 0 -10px;
    }

    .views-row {
      @include flex(1 1 300px);
      margin: 0 10px 20px;
      background: #f1f1f1;
      padding: 2em;
    }

    .field--name-field-term-teaser {
      margin-bottom:  20px;
    }

    i {
      @include font-size(2);
      @include inline-block;
      margin-right: 5px;
      background: #e1e1e1;
      padding: 10px;
      @include border-radius(4px);
    }
  }
}
