$bp-float-awards: 1024px;
$bp-float-solutions: 850px;
$bp-float-articles: 700px;
.front {
  .panel-pane {
    margin-bottom: 2em;
  }

  .l-container {
    @include add-grid(12);
    @include add-gutter(1/2);
    @include pie-clearfix;
  }

  .pane-markets-markets-featured {

    @include breakpoint($bp-float-solutions) {
      .view-content {
        @include display-flex;
      }

      .views-row {
        @include flex(1 1 200px);
      }
    }

    .pane-title {
      @include element-invisible;
    }

    .view-content {
      margin: -10px;
    }

    .views-row {
      margin: 10px;
      background: #f5f5f5;
    }

    h2 {
      margin-bottom: 0;

      a {
        background: $primary-link-color;
        padding: 10px;
        color: #fff;
        display: block;
      }
    }

    .taxonomy-term__content {
      padding: 1em;
    }
  }

  .pane-awards-awards-homepage {
    text-align: center;
    clear: both;

    .views-row {
      @include inline-block;
      max-width: 200px;
      margin: 0 1em 1em;
      @include inline-block;
    }

    img {
      max-height: 100px;
      width: auto;
    }
  }

  .pane-articles-articles-media-list {
    @include breakpoint($bp-float-articles) {
      @include isolation-span(4, 1);
    }
  }

  .pane-blogs-blog-simple-listing {
    @include breakpoint($bp-float-articles) {
      @include isolation-span(4, 5);
    }
  }

  .pane-articles-articles-news-list {
    @include breakpoint($bp-float-articles) {
      @include isolation-span(4, 9);
    }
  }
}


