$bp-float-awards: 1024px;
$bp-float-solutions: 850px;
$bp-float-articles: 700px;
.front {
  .panel-pane {
    margin-bottom: 2em;
  }

  .l-container {
    @include add-grid(12);
    @include add-gutter(1/2);
    @include pie-clearfix;
  }

  .pane-solutions-solutions-homepage {

    @include breakpoint($bp-float-solutions) {
      .view-content {
        @include flexbox;
      }

      .views-row {
        @include flex(1 1 200px);
      }
    }

    .views-row {
      margin-right: 1em;
      background: #f5f5f5;
    }

    h2 {
      margin-bottom: 0;
      @include element-invisible;

      a {
        background: $primary-link-color;
        padding: 10px;
        color: #fff;
        display: block;
      }
    }

    .taxonomy-term__content {
      padding: 1em;
    }
  }

  .pane-awards-awards-homepage {
    text-align: center;
    clear: both;

    .views-row {
      @include inline-block;
      max-width: 200px;
      margin: 0 1em 1em;
      @include inline-block;
    }

    img {
      max-height: 100px;
      width: auto;
    }
  }

  .pane-articles-articles-media-list {
    @include breakpoint($bp-float-articles) {
      @include isolation-span(6, 1, 'both');
    }
  }

  .pane-articles-articles-news-list {
    @include breakpoint($bp-float-articles) {
      @include grid-span(6, 7);
    }
  }
}


