.l-navbar {
  background-color: #272727;
  @include font-smoothing;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  color: #fff;
  @include box-shadow(0px 3px 10px rgba(0,0,0,0.2));
  z-index: 9;

  @include breakpoint($bp-sfmenu-is-expanded) {
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.l-region--navigation {
  // @include clearfix;
}

.l-branding {
  padding-left: 1em;
  @include inline-block;
}

.site-logo {
  display: block;
}

.site-slogan {
  @include font-size(1.63);
}
