html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: $base-font-stack;
  color: $base-font-color;
}

.l-container {
  @include container;
}

.l-header {

  .l-main-header {
    background-color: $color-gold;
    padding: 1.3em 0;
    @include font-smoothing;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .page-title {
    margin-bottom: 0;
  }

  .breadcrumb {
    font-weight: bold;
    @include font-size(1.4);
  }
}

.l-main {
  padding: 2em 0;
}
